# Node Modules (o terror do espaço em disco)
**/node_modules
**/dist
**/build

# Variáveis de Ambiente (Segredos)
**/.env
**/.env.local
**/.env.test

# Banco de Dados e Logs
API/prisma/*.db
API/prisma/*.db-journal
**/npm-debug.log*
**/yarn-error.log*

# IDEs
.vscode/
.idea/
.DS_Store